* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--bg-dark: oklch(0.92 0.1 56);
	--bg: oklch(0.96 0.1 56);
	--bg-light: oklch(1 0.1 56);
	--text: oklch(0.15 0.2 56);
	--text-muted: oklch(0.4 0.2 56);
	--highlight: oklch(1 0.2 56);
	--border: oklch(0.6 0.2 56);
	--border-muted: 0;
	--primary: oklch(0.4 0.2 56);
	--secondary: oklch(0.4 0.2 236);
	--danger: oklch(0.5 0.2 30);
	--warning: oklch(0.5 0.2 100);
	--success: oklch(0.5 0.2 160);
	--info: oklch(0.5 0.2 260);
	background: var(--bg-dark);
	color: var(--text-muted);
	border-color: var(--border);
	color-scheme: light dark;
	font-synthesis: none;
  	font-weight: 400;
  	line-height: 1.5;
  	text-rendering: optimizeLegibility;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
